html * {
  color: #252525;
  /* filter: grayscale(100%); */

  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
  padding: 0;
}
a {
  text-decoration: none;
}
html,
body {
  position: relative;
  background-color: #ffffff;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
body {
  overflow-x: hidden;
}
nav {
  position: fixed;
  display: flex;
  width: 100%;
  margin-top: 5vh;
  z-index: 9;
}
section {
  width: 100%;
}
.nav-section {
  width: 33.33%;
  align-items: center;
}
.nav-section img {
  padding-left: 50px;
}

.nav-section:nth-child(2) {
  display: flex;
  justify-content: center;
}
.nav-section:nth-child(3) {
  display: flex;
  justify-content: flex-end;
  padding-right: 50px;
}
.nav-section img {
  height: 48px;
  width: min-content;
}
.nav-section ul {
  display: flex;
  margin: 0;
}
.nav-section ul li {
  margin: 0 2.5vh 0 2.5vh;
  font-weight: 700;
  font-size: 14px;
}
.nav-link-ltr {
  border-bottom: 5px solid #252525 none;
}
.nav-link-ltr:hover,
.active {
  transition: 300ms;
  border-bottom: 5px solid #252525;
}

.master {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20vh 0 10vh 0;
  height: 50vh;
  display: flex;
}
.landing {
  width: 50%;
  height: 100%;
  display: flex;
  margin-right: 2vh;
  /* justify-content: center; */
}

.landing:nth-child(1) p {
  font-size: 14px;
  margin: 3vh 0 1vh 0;
  width: 50%;
  font-weight: 500;
  text-wrap: wrap;
}
.landing:nth-child(2) p {
  width: 50%;
  font-size: 120px;
  font-weight: 800;
  line-height: 6rem;
}
.landing:nth-child(2) p span {
  -webkit-text-stroke: 2px #252525;
  -webkit-text-fill-color: transparent;
}
.landing-text-desc {
  flex-direction: column;
  align-items: flex-end;
  text-align: right;
}
.landing-text-desc span {
  font-weight: 800;
  font-size: 24px;
}
.social-links {
  margin-top: 3vh;
}
.social-links i {
  padding: 2vh;
}
.landing-shapes {
  margin-top: 3vh;
  height: 1vh;
  background-color: #252525;
  width: 40%;
}

.skills {
  background-color: #252525;
  display: flex;
  color: #ffffff;
  display: grid;
  width: 100%;
  height: 20vh !important;
  grid-template-columns: auto auto auto auto auto auto auto auto;
}

.background-text {
  width: 35%;
  height: 100%;
  overflow: hidden;
}
.background-text p {
  color: white;
  font-size: 200px;
  font-weight: 700;
  opacity: 0.02;
  line-height: 0.75;
}
.col {
  margin: auto;
}
.skills .col img {
  height: 60px;
  width: auto;
  filter: invert(48%);
}
.services {
  padding: 20vh 0 10vh 0;
  height: 100vh;
  display: grid;
  grid-template-columns: auto auto;
}
.services .col {
  margin: 0 auto 0 auto !important;
}
.services .col span {
  margin: 0 !important;
  font-size: 64px;
  font-weight: 800;
}
.contents {
  font-size: 18px;
  font-weight: 400;
}
.contents li {
  margin-top: 2vh;
  text-align: center;
}
.work {
  padding: 20vh 0 10vh 0;
  height: 100vh;
  display: grid;
  grid-template-columns: auto auto auto auto;
}
.work .col {
  border: solid #252525 2px;
}
.contact {
  display: grid;
  grid-template-columns: 3fr 3fr 3fr;
}
.contact .social-links {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}
.contact .social-links a {
  display: flex;
  flex-direction: row;
  font-weight: 500;
}
.contact img {
  height: 512px;
  margin-bottom: 0;
  filter: grayscale(100%);
}
.contact .col {
  margin: 0 auto 0 auto !important;
  width: 100%/3;
}

.contact .col p {
  text-align: right;
  font-size: 34px;
  font-weight: 800;
}
